@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**/
.navbarTodos {
  padding: 0 !important;
  background-image: url(../img/Captura\ de\ Pantalla\ 2022-06-13\ a\ la\(s\)\ 12.48.39.png);
  height: auto;
}
.navbar-toggler {
  background-color: rgb(227, 227, 227);
}
.active {
  color: rgb(190, 190, 190) !important;
}
.colorLetraNavbar {
  color: white;

}
.colorLetraNavbar:hover {
  color: rgb(227, 227, 227) !important;
  font-weight: 450 !important;
}

.navbar-nav {
  font-weight: 400 !important;
}

.footer {
  grid-area: footer;
  width: 100%;
  background-color: #BFBFBF;
  display: flex;
  justify-content: center;
  font-family: Helvetica !important;
}

.footer .p {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

/*index*/
.mainIndex .imagenGrandeCuerpo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.mainIndex .botonDeCompra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 45px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  border-color: black;
  border-style: ridge;
  text-decoration: none;
  font-family: Helvetica !important;
  font-size: 18px;
  font-weight: 800;
}
.mainIndex .textoIndex {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica !important;
}
.contenedorLineaSeparacion {
  display: flex;
  justify-content: center;
}
.contenedorLineaSeparacion .lineaSeparacion {
  width: 90%;
}

@media (min-width: 467px) {
  .imagenGrandeCuerpo .botonDeCompra {
    font-size: 18px;
    height: 45px;
    width: 417px;
  }
}
/*producto*/
.cuerpoProducto {
  display: flex;
  padding: 0px;
  margin: 0px;
  border: 0 solid transparent;
}

.cadaTarjeta {
  margin: 2px;
  padding: 0px;
  border: 0 solid transparent;
}

.card-img-overlay {
  padding: 0px;
}

.nombretarjeta, .nombreTomillo, .nombreRomero, .nombrePeperina, .nombreOregano, .nombreMenta, .nombreProvenzal, .nombrePimientaMixtaEnGrano, .nombrePimientaNegraMolida, .nombrePimientaNegraEnGrano, .nombrePimientaBlancaMolida, .nombrePimientaBlancaEnGrano, .nombrePimenton, .nombrePaprika, .nombreNuezMoscadaMolida, .nombreNuezMoscadaEntera, .nombreJengibreMolido, .nombreCurry, .nombreCurcumaMolida, .nombreCondimentoParaPizza, .nombreCondimentoParaArroz, .nombreCominoMolido, .nombreClavoDeOlorEntero, .nombreChimichurri, .nombreCedron, .nombreCanelaMolida, .nombreBicarbonato, .nombreAlbahaca, .nombreAjoGranulado, .nombreAjoEnPolvo, .nombreAjiMolido, .nombreAjiMolidoSuave, .nombreAjiCayenaMolido {
  color: black;
  font-size: 10px;
  backdrop-filter: blur(10px);
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.contenedorMas {
  display: flex;
}

.botonMas {
  width: 25px;
  height: 25px;
  padding: 0;
  backdrop-filter: blur(100px);
  border: 0;
  margin: 30px;
}

@media (min-width: 467px) {
  .botonMas {
    margin: 57px;
  }

  .nombretarjeta, .nombreTomillo, .nombreRomero, .nombrePeperina, .nombreOregano, .nombreMenta, .nombreProvenzal, .nombrePimientaMixtaEnGrano, .nombrePimientaNegraMolida, .nombrePimientaNegraEnGrano, .nombrePimientaBlancaMolida, .nombrePimientaBlancaEnGrano, .nombrePimenton, .nombrePaprika, .nombreNuezMoscadaMolida, .nombreNuezMoscadaEntera, .nombreJengibreMolido, .nombreCurry, .nombreCurcumaMolida, .nombreCondimentoParaPizza, .nombreCondimentoParaArroz, .nombreCominoMolido, .nombreClavoDeOlorEntero, .nombreChimichurri, .nombreCedron, .nombreCanelaMolida, .nombreBicarbonato, .nombreAlbahaca, .nombreAjoGranulado, .nombreAjoEnPolvo, .nombreAjiMolido, .nombreAjiMolidoSuave, .nombreAjiCayenaMolido {
    color: black;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 576px) {
  .botonMas {
    margin: 75px;
  }

  .nombretarjeta, .nombreTomillo, .nombreRomero, .nombrePeperina, .nombreOregano, .nombreMenta, .nombreProvenzal, .nombrePimientaMixtaEnGrano, .nombrePimientaNegraMolida, .nombrePimientaNegraEnGrano, .nombrePimientaBlancaMolida, .nombrePimientaBlancaEnGrano, .nombrePimenton, .nombrePaprika, .nombreNuezMoscadaMolida, .nombreNuezMoscadaEntera, .nombreJengibreMolido, .nombreCurry, .nombreCurcumaMolida, .nombreCondimentoParaPizza, .nombreCondimentoParaArroz, .nombreCominoMolido, .nombreClavoDeOlorEntero, .nombreChimichurri, .nombreCedron, .nombreCanelaMolida, .nombreBicarbonato, .nombreAlbahaca, .nombreAjoGranulado, .nombreAjoEnPolvo, .nombreAjiMolido, .nombreAjiMolidoSuave, .nombreAjiCayenaMolido {
    color: black;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .botonMas {
    margin: 75px;
  }

  .nombretarjeta, .nombreTomillo, .nombreRomero, .nombrePeperina, .nombreOregano, .nombreMenta, .nombreProvenzal, .nombrePimientaMixtaEnGrano, .nombrePimientaNegraMolida, .nombrePimientaNegraEnGrano, .nombrePimientaBlancaMolida, .nombrePimientaBlancaEnGrano, .nombrePimenton, .nombrePaprika, .nombreNuezMoscadaMolida, .nombreNuezMoscadaEntera, .nombreJengibreMolido, .nombreCurry, .nombreCurcumaMolida, .nombreCondimentoParaPizza, .nombreCondimentoParaArroz, .nombreCominoMolido, .nombreClavoDeOlorEntero, .nombreChimichurri, .nombreCedron, .nombreCanelaMolida, .nombreBicarbonato, .nombreAlbahaca, .nombreAjoGranulado, .nombreAjoEnPolvo, .nombreAjiMolido, .nombreAjiMolidoSuave, .nombreAjiCayenaMolido {
    color: black;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .botonMas {
    margin: 110px;
  }

  .nombretarjeta, .nombreTomillo, .nombreRomero, .nombrePeperina, .nombreOregano, .nombreMenta, .nombreProvenzal, .nombrePimientaMixtaEnGrano, .nombrePimientaNegraMolida, .nombrePimientaNegraEnGrano, .nombrePimientaBlancaMolida, .nombrePimientaBlancaEnGrano, .nombrePimenton, .nombrePaprika, .nombreNuezMoscadaMolida, .nombreNuezMoscadaEntera, .nombreJengibreMolido, .nombreCurry, .nombreCurcumaMolida, .nombreCondimentoParaPizza, .nombreCondimentoParaArroz, .nombreCominoMolido, .nombreClavoDeOlorEntero, .nombreChimichurri, .nombreCedron, .nombreCanelaMolida, .nombreBicarbonato, .nombreAlbahaca, .nombreAjoGranulado, .nombreAjoEnPolvo, .nombreAjiMolido, .nombreAjiMolidoSuave, .nombreAjiCayenaMolido {
    color: black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .botonMas {
    margin: 90px;
  }
}
@media (min-width: 1400px) {
  .botonMas {
    margin: 65px;
  }
}
.contenedorCarritoDeCompra {
  padding: 0px;
  border-left: 2px solid black;
}
.contenedorCarritoDeCompra .textoCarritoDeCompra {
  font-size: 12px;
  margin: 10px;
}
.contenedorCarritoDeCompra .contenedorCompra {
  padding: 10px;
}

/*Contacto*/
.contenedorContacto {
  background: rgb(110, 110, 110) url(../img/imagenDeLaPaginaPrincipal3.avif);
  background-blend-mode: exclusion;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.contenedorContacto .formulario {
  background-color: white;
}
.contenedorContacto .formulario .elementosFormularioContacto {
  padding: 20px;
  justify-content: center;
  width: 100%;
  border: 2px solid black;
  gap: 20px;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: 30px auto 1fr 35px 35px;
  grid-template-areas: "opciones opciones" "textoContacto preguntas" "comentario comentario" "terminosContacto terminosContacto" "botonEnviar botonReiniciar";
}
.contenedorContacto .formulario .elementosFormularioContacto .opciones {
  grid-area: opciones;
  margin-top: 10px;
  margin-bottom: 10px;
  font: 14px helvetica;
  padding: 5px;
  color: #8d8d8d;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  height: 40px;
}
.contenedorContacto .formulario .elementosFormularioContacto .textoContacto {
  grid-area: textoContacto;
  display: flex;
  align-items: center;
}
.contenedorContacto .formulario .elementosFormularioContacto .textoContacto .texto {
  text-align: justify;
  font-size: 17px;
  font-family: Helvetica !important;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: rgb(82, 82, 82);
  margin-top: 20px;
}
.contenedorContacto .formulario .elementosFormularioContacto .preguntas {
  grid-area: preguntas;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  color: #8d8d8d;
}
.contenedorContacto .formulario .elementosFormularioContacto .preguntas input {
  width: 100%;
  margin: 10px;
  font-size: 14px;
  font-family: helvetica;
  padding: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  height: 40px;
}
.contenedorContacto .formulario .elementosFormularioContacto .comentario {
  grid-area: comentario;
  margin-top: 10px;
  margin-bottom: 10px;
  font: 14px helvetica;
  padding: 5px;
  color: #8d8d8d;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  height: 150px;
}
.contenedorContacto .formulario .elementosFormularioContacto .terminosContacto {
  grid-area: terminosContacto;
  color: #8d8d8d;
  font-size: 14px;
}
.contenedorContacto .formulario .elementosFormularioContacto .botonEnviar {
  grid-area: botonEnviar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorContacto .formulario .elementosFormularioContacto .botonReiniciar {
  grid-area: botonReiniciar;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 467px) {
  .formulario {
    width: 467px;
  }
}
@media (min-width: 538px) {
  .navBarraGeneral ul li a {
    font-size: 16px;
  }
}
/*Nosotros*/
.contenedorMain {
  background: rgb(110, 110, 110) url(../img/imagenDeLaPaginaPrincipal3.avif);
  display: flex;
  justify-content: center;
  background-blend-mode: exclusion;
}

.fondoNoOpaco {
  background-color: white;
  border: 2px solid black;
  margin: 10px;
}

.queEsCanva {
  display: flex;
  justify-content: center;
  color: #111;
  font-family: Helvetica !important;
  padding: 32px 0 26px;
  font-weight: 700;
  font-size: 24px;
}

.textoQueEsCanva {
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  font-family: HelveticaNeue, Helvetica !important;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: rgb(82, 82, 82);
  margin-top: 10px;
}

.imgQueEsCanva {
  display: flex;
  justify-content: center;
}

.mision {
  display: flex;
  justify-content: center;
  color: #111;
  font-family: Helvetica !important;
  padding: 32px 0 20px;
  font-size: 22px;
}
.vision {
  display: flex;
  justify-content: center;
  color: #111;
  font-family: Helvetica !important;
  padding: 32px 0 20px;
  font-size: 22px;
}

.textoMision {
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  font-family: Helvetica !important;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: rgb(82, 82, 82);
}
.textoVision {
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  font-family: Helvetica !important;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: rgb(82, 82, 82);
}

.encontranos {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #111;
  font-family: Helvetica !important;
  padding: 32px 0 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.contenedorMapaNosotros {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenedorMapaNosotros .mapaNosotros {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

@media (min-width: 467px) {
  .fondoNoOpaco {
    width: 467px;
  }
}
@media (min-width: 700px) {
  .mapaNosotros {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
}
/*Unete a nosotros*/
.seParte {
  color: #111;
  font-family: Helvetica !important;
  line-height: 26px;
  margin: 0 auto;
  padding: 32px 0 26px;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.textoSeParte {
  font-family: Helvetica !important;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 27px;
  text-align: center;
  color: #8d8d8d;
  margin-left: 20px;
  margin-right: 20px;
}

.Preguntas1UneteANosotros {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}
.Preguntas1UneteANosotros input {
  margin-top: 10px;
  margin-bottom: 10px;
  font: 14px helvetica;
  padding: 5px;
  color: #8d8d8d;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  height: 40px;
}
.Preguntas1UneteANosotros .textoFechaCumpleaños {
  text-align: justify;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 16px;
  padding: 3px 0 24px;
  text-align: center;
}

.PoliticasYTerminos {
  margin-left: 50px;
  margin-right: 50px;
}
.PoliticasYTerminos .textoPoliticasYTerminos {
  text-align: justify;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 16px;
  padding: 3px 0 24px;
  text-align: center;
}

.Unite {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.Unite .botonUnite {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Helvetica !important;
  font-size: 15px;
  padding: 10px;
}

.IniciarSesion {
  color: grey;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.IniciarSesion p {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

/*mixins*/
.nombreAjiCayenaMolido {
  background-color: rgb(194, 17, 7);
  opacity: 80%;
}

.nombreAjiMolidoSuave {
  background-color: rgb(142, 52, 27);
  opacity: 80%;
}

.nombreAjiMolido {
  background-color: rgb(195, 96, 22);
  opacity: 80%;
}

.nombreAjoEnPolvo {
  background-color: rgb(190, 165, 103);
  opacity: 80%;
}

.nombreAjoGranulado {
  background-color: rgb(251, 207, 155);
  opacity: 80%;
}

.nombreAlbahaca {
  background-color: rgb(133, 131, 81);
  opacity: 80%;
}

.nombreBicarbonato {
  background-color: rgb(204, 204, 204);
  opacity: 80%;
}

.nombreCanelaMolida {
  background-color: rgb(177, 97, 56);
  opacity: 80%;
}

.nombreCedron {
  background-color: #fff;
  opacity: 80%;
}

.nombreChimichurri {
  background-color: rgb(143, 52, 5);
  opacity: 80%;
}

.nombreClavoDeOlorEntero {
  background-color: rgb(195, 103, 68);
  opacity: 80%;
}

.nombreCominoMolido {
  background-color: rgb(226, 179, 113);
  opacity: 80%;
}

.nombreCondimentoParaArroz {
  background-color: rgb(197, 142, 35);
  opacity: 80%;
}

.nombreCondimentoParaPizza {
  background-color: rgb(168, 90, 13);
  opacity: 80%;
}

.nombreCurcumaMolida {
  background-color: rgb(249, 157, 4);
  opacity: 80%;
}

.nombreCurry {
  background-color: rgb(185, 121, 41);
  opacity: 80%;
}

.nombreJengibreMolido {
  background-color: rgb(231, 188, 103);
  opacity: 80%;
}

.nombreNuezMoscadaEntera {
  background-color: rgb(128, 61, 34);
  opacity: 80%;
}

.nombreNuezMoscadaMolida {
  background-color: rgb(105, 45, 13);
  opacity: 80%;
}

.nombrePaprika {
  background-color: rgb(187, 42, 10);
  opacity: 80%;
}

.nombrePimenton {
  background-color: rgb(178, 65, 42);
  opacity: 80%;
}

.nombrePimientaBlancaEnGrano {
  background-color: rgb(171, 156, 133);
  opacity: 80%;
}

.nombrePimientaBlancaMolida {
  background-color: rgb(231, 214, 180);
  opacity: 80%;
}

.nombrePimientaNegraEnGrano {
  background-color: rgb(67, 41, 30);
  opacity: 80%;
}

.nombrePimientaNegraMolida {
  background-color: rgb(91, 68, 59);
  opacity: 80%;
}

.nombrePimientaMixtaEnGrano {
  background-color: rgb(158, 127, 96);
  opacity: 80%;
}

.nombreProvenzal {
  background-color: rgb(81, 102, 37);
  opacity: 80%;
}

.nombreMenta {
  background-color: rgb(183, 227, 80);
  opacity: 80%;
}

.nombreOregano {
  background-color: rgb(153, 139, 64);
  opacity: 80%;
}

.nombrePeperina {
  background-color: rgb(128, 203, 67);
  opacity: 80%;
}

.nombreRomero {
  background-color: rgb(156, 175, 110);
  opacity: 80%;
}

.nombreTomillo {
  background-color: rgb(113, 151, 65);
  opacity: 80%;
}

/**/